@mixin arrow {
  display: inline-block;
  padding: 0 0.4em;
  line-height: 30px;
  cursor: pointer;

  &:not(.u-disabled):hover {
      background-color: rgba(255, 255, 255, 0.4);
  }
}

$background-color: rgba(255, 255, 255, 0.2);

.levelCounter {
  align-self: center;
  border-radius: 4px;
  user-select: none;

  &__left {
    @include arrow;
    border-radius: 4px 0 0 4px;
    background-color: $background-color;
  }

  &__label {
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 160px;
    border-left: 1px solid $background-color;
    border-right: 1px solid $background-color;
    background-color: $background-color;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &__right {
    @include arrow;
    border-radius: 0 4px 4px 0;
    background-color: $background-color;
  }
}
