.view {
  width: 50%;

  &__board {
    border-radius: 0 0 0 10px;
    background-color: #1F5768;
    min-height: 300px;
    min-width: 300px;
    width: 100%;
    height: 50vw;
    position: relative;
  }

  &__lilypads, &__frogs {
    height: 100%;
    width: 100%;
    display: flex;
  }

  &__lilypads {
    flex-wrap: wrap;

    @for $i from 1 through 25 {
      & > [class*='lilypad']:nth-child(#{$i}) > [class*='lilypad__bg'] {
        transform: scale(1 + random(100)/500 - 0.2) rotate(random(360) + deg);
      }
    }
  }

  &__frogs {
    position: absolute;
    top: 0;
  }
}

.lilypad, .frog {
  width: 20%;
  height: 20%;
  overflow: hidden;
}

@mixin lilypad_bg {
  background: no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.lilypad__bg {

  &--green {
    @include lilypad_bg;
    background-image: url("./images/lilypad-green.svg");
  }

  &--red {
    @include lilypad_bg;
    background-image: url("./images/lilypad-red.svg");
  }

  &--yellow {
    @include lilypad_bg;
    background-image: url("./images/lilypad-yellow.svg");
  }
}

@mixin frog_bg {
  @include lilypad_bg;
  background-size: 60% 60%;
  animation: pulse 1s both infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);

  }
  0% {
    transform: scale(1.05, 1.05);

  }
  100% {
    transform: scale(1, 1);
  }
}

.frog__bg {

  &--green {
    @include frog_bg;
    background-image: url("./images/frog-green.svg");
  }

  &--red {
    @include frog_bg;
    background-image: url("./images/frog-red.svg");
  }

  &--yellow {
    @include frog_bg;
    background-image: url("./images/frog-yellow.svg");
  }
}

